@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-background: #18181B;
  --color-background2: #09090B;
  --color-mText: #fefefe;
  --color-mText2: #A0A0A9;
}

html, body {
  background-color: #18181B;
  box-sizing: border-box;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
